<a href="https://colab.research.google.com/github/renzotaco/Python/blob/main/Threads.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
#Secuencialmente
import time
 
#First Method
def greet_them(people):
    for person in people:
        print("Hola Amigo " + person + ". Como estas?")
        time.sleep(0.5)
 
#Second Method
def assign_id(people):
    i = 1
    for person in people:
        print("Hey! {}, tu ID es {}.".format(person, i))
        i += 1
        time.sleep(0.5)
 
 
people = ['Richard', 'Diego', 'Juan', 'Pedro', 'Kevin']
 
t = time.time()
 
greet_them(people)
assign_id(people)
 
print("Trabajo finalizado..")
print("Tiempo:  " + str(time.time() - t))

Hola Amigo Richard. Como estas?
Hola Amigo Diego. Como estas?
Hola Amigo Juan. Como estas?
Hola Amigo Pedro. Como estas?
Hola Amigo Kevin. Como estas?
Hey! Richard, tu ID es 1.
Hey! Diego, tu ID es 2.
Hey! Juan, tu ID es 3.
Hey! Pedro, tu ID es 4.
Hey! Kevin, tu ID es 5.
Trabajo finalizado..
Tiempo:  5.009801864624023

In [5]:
import time
import threading
 
# Python Threading Example for Beginners
# First Method
def greet_them(people):
    for person in people:
        print("Hola " + person + ". Como estas?")
        time.sleep(0.5)
 
 
# Second Method
def assign_id(people):
    i = 1
    for person in people:
        print("Hey! {}, tu ID es {}.".format(person, i))
        i += 1
        time.sleep(0.5)
 
 
people = ['Richard', 'Diego', 'Juan', 'Pedro', 'Kevin']
 
t = time.time()
 
#Created the Threads
t1 = threading.Thread(target=greet_them, args=(people,))
t2 = threading.Thread(target=assign_id, args=(people,))
 
#Started the threads
t1.start()
t2.start()
 
#Joined the threads
t1.join()
t2.join()
 
print("Trabajo Finalizado")
print("Tiempo:  " + str(time.time() - t))

Hola Richard. Como estas?
Hey! Richard, tu ID es 1.
Hola Diego. Como estas?
Hey! Diego, tu ID es 2.
Hola Juan. Como estas?
Hey! Juan, tu ID es 3.
Hola Pedro. Como estas?
Hey! Pedro, tu ID es 4.
Hola Kevin. Como estas?
Hey! Kevin, tu ID es 5.
Trabajo Finalizado
Tiempo:  2.5108802318573

In [6]:
import multiprocessing as mp
import numpy as np
import tqdm
from itertools import repeat
from multiprocessing import Process, Manager
from multiprocessing import Pool
import pandas as pd


num_processes = mp.cpu_count()

print("Number of cpu : ", num_processes)

Number of cpu :  2

In [1]:
import threading 
  
def print_one(): 
	for i in range(10):
		print(1)
  
def print_two(): 
	for i in range(10):
		print(2)
  
if __name__ == "__main__": 
	# create threads
	t1 = threading.Thread(target=print_one) 
	t2 = threading.Thread(target=print_two) 
	
	# start thread 1 
	t1.start() 
	# start thread 2 
	t2.start() 
	
	# wait until thread 1 is completely executed 
	t1.join() 
	# wait until thread 2 is completely executed 
	t2.join() 
	# both threads completely executed 
	
	print("Done!")

1
1
1
1
1
1
1
1
1
1
2
2
2
2
2
2
2
2
2
2
Done!

In [2]:
import threading 
  
def print_x(x, n): 
	for i in range(n):
		print(x)
  
if __name__ == "__main__": 
	# create threads
	t1 = threading.Thread(target=print_x, args=(1, 5,)) 
	t2 = threading.Thread(target=print_x, args=(2, 10,)) 
	
	# start thread 1 
	t1.start() 
	# start thread 2 
	t2.start() 
	
	# wait until thread 1 is completely executed 
	t1.join() 
	# wait until thread 2 is completely executed 
	t2.join() 
	# both threads completely executed 
	
	print("Done!")

12
2
2
2
2
2
2
2
2
2

1
1
1
1
Done!

In [8]:
from concurrent.futures import ThreadPoolExecutor
from time import sleep
def task(message):
   sleep(2)
   return message

def main():
   executor = ThreadPoolExecutor(5)
   future = executor.submit(task, ("Completed"))
   print(future.done())
   sleep(2)
   print(future.done())
   print(future.result())
if __name__ == '__main__':
   main()

False
True
Completed

In [14]:
from concurrent.futures import ThreadPoolExecutor
from concurrent.futures import as_completed
values = [2,3,4,5,6,7,8,9,10]
def square(n):
   return n * n
def main():
   with ThreadPoolExecutor(max_workers = 3) as executor:
      results = executor.map(square, values)
   for result in results:
      print(result)
if __name__ == '__main__':
   main()

4
9
16
25
36
49
64
81
100

In [17]:
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.1.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.19.5)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [18]:
# en caso de error instalar pandas !pip install pandas
# abriendo csv
import pandas as pd
df = pd.read_csv("SalariesOLD.csv")
df.head()

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (12) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

   Id       EmployeeName  ...         Agency  Status
0   1     NATHANIEL FORD  ...  San Francisco     NaN
1   2       GARY JIMENEZ  ...  San Francisco     NaN
2   3     ALBERT PARDINI  ...  San Francisco     NaN
3   4  CHRISTOPHER CHONG  ...  San Francisco     NaN
4   5    PATRICK GARDNER  ...  San Francisco     NaN

[5 rows x 13 columns]

In [19]:
from concurrent.futures import ThreadPoolExecutor
from concurrent.futures import as_completed

data_list = ["ASSISTANT MEDICAL EXAMINER", "CAPTAIN III (POLICE DEPARTMENT)","ASSISTANT CHIEF ATTORNEY I"]
def sumar(dato):
  count=0
  parcial=0
  for index, row in df.iterrows():
      if row[2]==dato:
          parcial+=float(row[3])
          count += 1
  return(parcial)

def main():
   with ThreadPoolExecutor(max_workers = 5) as executor:
      results = executor.map(sumar, data_list)
   for result in results:
      print(result)
if __name__ == '__main__':
   main()

999822.84
6296786.119999999
4005807.4799999995